{% extends 'base.html' %}

{% block title %} {% endblock title %}

 {% load crispy_forms_tags %}

{% block body %}



<div>
    <h3 class="text-lg font-semibold mb-4">Our Services</h3>
    <ul class="space-y-2">
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Printing (all sizes)</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Project Works</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Photocopying</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Passport Services</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">NIN Services</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Jamb/Neco/Waec/Nabteb</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Admission Processing</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Plastic ID Card</a></li>
        <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Online Tutorials</a></li>
    </ul>
</div>



{% endblock body %}